<div class="container">

	<div class="row">
		<div class="col-md-6">


			<table class="table table-hover">
				<caption><h2><%= __('Delivery.Manage.caption') %></h2></caption>
				<thead>
					<tr>
						<th>Railcar Number</th>
						<th>Details</th>
						<th>Ajouter</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0, len=cars_at_station.length; i < len; i++) { %>
						<tr>
							<td><%= cars_at_station[i].Railcar %></td>
							<td><a class="btn btn-info car-info-btn" href="/cars/<%= cars_at_station[i].RailCarID %>"><%= __('Delivery.Manage.details') %></a></td>
							<td><a class="btn btn-success car-info-btn" href="/delivery/<%= delivery_id %>/add/<%= cars_at_station[i].RailCarID %>"><%= __('Delivery.Manage.add') %></a></td>
						</tr>
					<% } %>
				</tbody>		
			</table>


		</div>


		<div class="col-md-6">


			<table class="table table-hover">
				<caption><h2><%= __('Delivery.Manage.caption') %></h2></caption>
				<thead>
					<tr>
						<th>Railcar Number</th>
						<th>Details</th>
						<th>Ajouter</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0, len=cars_from_delivery.length; i < len; i++) { %>
						<tr>
							<td><%= cars_from_delivery[i].Railcar %></td>
							<td><a class="btn btn-info car-info-btn" href="/cars/<%= cars_from_delivery[i].car_id %>"><%= __('Delivery.Manage.details') %></a></td>
							<td><a class="btn btn-danger car-info-btn" href="/delivery/<%= delivery_id %>/remove/<%= cars_from_delivery[i].car_id %>"><%= __('Delivery.Manage.remove') %></a></td>
						</tr>
					<% } %>
				</tbody>		
			</table>


		</div>		
	</div>
</div>



